<!DOCTYPE html>
<html lang="en">
<head>
    <title>Add Medicine</title>
    <link rel="stylesheet" href="{% static 'css/styles.css' %}">
</head>

<body>
    <h1>Add Medicine</h1>
    <form method="POST" enctype="multipart/form-data">
        {% csrf_token %}
        <label for="name">Name:</label>
        <input type="text" id="name" name="name" required><br>

        <label for="price">Price:</label>
        <input type="number" id="price" name="price" required><br>

        <label for="offerprice">Offer Price:</label>
        <input type="number" id="offerprice" name="offerprice" required><br>

        <label for="image">Image:</label>
        <input type="file" id="image" name="image" required><br>

        <label for="dosage">Dosage:</label>
        <input type="text" id="dosage" name="dosage" required><br>

        <label for="description">Description:</label>
        <textarea id="description" name="description" required></textarea><br>

        <button type="submit">Add Medicine</button>
    </form>
    <a href="{% url 'seller' %}">Back to Seller Dashboard</a>
</body>
</html>
